

   <% for (let i = 0; i <data.length; i++){ %>
     <div class="match-results  <%=data[i].main %>" >
     <h4 class="title-font"> You matched with:<%= data[i].username %></h4>
     <p> Main language: <%= data[i].main %></p>
     <p> Learning:<%= data[i].learning %></p>
     <p> Email: <%= data[i].email %></p>
     <p> Skype: <%= data[i].skype %></p>
     <p> Whatsapp: <%= data[i].whatsapp %></p>
     </div>
    <% } %>
