<% for (let i = 0; i <data.length; i++){ %>
  <div class="users-container  hvr-float-shadow <%= data[i].main_language %>" >
  <h4 class="user-title title-font"><%= data[i].username %></h4>
  <p> Is fluent in <%= data[i].main_language %></p>
  <p> Is learning <%= data[i].learning_language %></p>
  <p> <%= data[i].email %></p>
  <p> <%= data[i].skype %></p>
  <p> <%= data[i].whatsapp %></p>
  </div>
 <% } %>
